body {
  font-family: "Roboto", sans-serif;
}

.card img {
  max-height: 150px;
  object-fit: contain;
}

#carrito-items .card {
  flex-direction: row;
  align-items: center;
}

#carrito-items .card img {
  max-height: 50px;
  margin-right: 10px;
}
